/*Colours*/
:root {
    --bluelight-colour:#33465b;
    --bluelighttransp-colour:#33465bc9;
    --bluedark-colour:#1f2837;
    --bluedarktransp-colour:#1f283766;
    --grey-colour:#181a20;
    --greytransp-colour: #181a2066;

}
* {
    box-sizing: border-box; /* borders dont add pixles*/
    padding: 0;
    margin: 0;  /* remove defaults padding and margin*/
}

.container {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;

}

.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    align-items: center;
    flex-wrap: wrap; 
}
.container .flex {
    margin: 0px;
}
.card {
    background-color: var(--bluelighttransp-colour);
    border-radius: 20px;

}
html {
    height: 100%;
}

body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    color:white;
    line-height: 1.5;
    height: 100%;
    width: 100%;
    max-width: 1920px;
    position: center;
}

ul, ol {
    list-style-type: none; /* no bullet points*/
}
a {
    text-decoration: none; /* No underline on hyperlinks */
    color:white;
}

h1,
h2 {
    font-family: sans-serif; /*change font*/
    font-weight: 300;
    line-height: 1.2;
    margin: 10px;
    text-align: center, center;
}

p {
    margin: 15px;
}

img {
    width: 100%; /* images fit to container size */
    align-self: left;
}

.bg-image {
    background-image: url("Images/Background.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-position: center, center;
    background-repeat: repeat-y;
    background-size: cover;
    -webkit-backgroung-size: cover;
}

/*Navbar style*/
.navbar {
    background-color: var(--grey-colour);
    height: 70px;
    width: 100%;
    min-width: 960px;
    overflow: visible;
    position: fixed;
}

.navbar .flex {
justify-content: space-between;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    display: inline-flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    background-color: var(--bluelight-colour);
}
 .navbar .flex {
    justify-content: left;
 }
 
/*showcase style*/
.showcase {
    z-index: 9999;
    position: static;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.showcase-top {
    z-index: 9999;
    position: static;
    padding-top: 80px;  /*stops nav covering 1st showcase*/
    padding-left: 30px;
    padding-right: 30px;
}
.showcase-text {
    max-width: 700px;
    margin-left: 0px;
    margin-right: 20px;
    ;
}
.showcase.side {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.showcase.middle {
    -webkit-flex: 10;
    -ms-flex: 10;
    flex: 10;
    text-align: center;
    padding: 0px;
    border: 10px;
    
}
.showcase h1 {
    font-size: 30px;
}

.carousel-item {
    max-width: 600px;
    min-width: 300px;
    aspect-ratio: 16,9;
}
/* footer */
footer {
    position: absolute;
    background-color: var(--grey-colour);
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 0.8;
    width: 100%;
}

/* Responsive Design
Tablets */
@media (max-width: 768px) {
    .showcase .flex {
        flex-direction: column;
    }
    .showcase h1 {
        font-size: 15px;
    }

    .showcase p {
        font-size: 12px;
        margin: 5px;
    }
    .showcase-text {
        padding: 20px, 20px, 0px, 20px;
}
footer {
    position: absolute;
    background-color: var(--grey-colour);
    text-align: center;
    padding: 5px;
    width: 100%;    
    }
    
    footer p {
        font-size: 10px;
        margin: 0px;
    }
}
/* Mobile */
@media (max-width: 550px) {
    .navbar {
        height: 50px;
        min-width: auto;
      }
    
    .navbar .flex {
        flex-direction: column;
      }
    .navbar a {
          padding: 0px;
      }
    
    .navbar ul {
        padding: 0px;
        background-color: rgba(0, 0, 0, 0);
      }
    .navbar a:hover {
    background-color: no;
      }
    .navbar h1 {
          font-size: 15px;
      }

    .navbar li {
          font-size: 8px;
      }
    .showcase-text {
        margin: 0px;
        padding: 4px, 4px, 0px ,4px;
    }
    .showcase h1 {
          font-size: 10px;
          margin: 5px;
      }

    .showcase p {
          font-size: 8px;
          margin: 2px;
      }
      
    footer {
    position: absolute;
    background-color: var(--grey-colour);
    text-align: center;
    padding: 5px;
    width: 100%;    
    }
    
    footer p {
        font-size: 8px;
        margin: 0px;
    }
}